{% extends "base.html" %}
{% block above %}

    <h1 data-aos="fade-up" data-aos-duration="1000">Analytics</h1>
    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">View your analytics here</h2>
<script src="{{ url_for('static',filename='js/scroll-anim.js') }}"></script>

{% endblock %}

{% block content %}

<div class="analytics">
    <h2>Subreddit Activity</h2>
    <img src="{{file}}">
</div>

<div class="analytics">
    <h2>Trending Topics</h2>
</div>


{% endblock %}