{% extends "base.html" %}
{% block above %}

    <h1 data-aos="fade-up" data-aos-duration="1000">Analytics</h1>
    <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">View your analytics here</h2>
<script src="{{ url_for('static',filename='js/scroll-anim.js') }}"></script>

{% endblock %}

{% block content %}

<div class="analytics">
    <h2>Subreddit Activity</h2>
    <img src="{{file}}">
</div>

<main>
    <a data-aos="fade-right" data-aos-duration="1000"  style="max-width: 90%" class="link">
        <div class="post">
            <h1 style="margin:0;">Trending Topics</h1>
            {% for topic in topics %}
                <p style="text-decoration:underline; width: 100%; text-align: center; cursor: pointer;" onclick="window.location.href='/posts/{{topic[0]}}';">{{topic[1]}}</p>
            {% endfor %}
        </div>
    </a>
</main>




{% endblock %}